@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@800&display=swap');

[v-cloak] {
  display: none;
}

:root {
  --color-font: rgba(255, 255, 255, 0.8);
  --color-line-primary: rgba(255, 255, 255, 0.8);
  --color-line-secondary: rgba(255, 255, 255, 0.4);
  --color-background: rgba(0, 0, 0, 0.2);
}

body {
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 0.7rem;
  font-weight: 500;
  color: var(--color-font);
}

body::-webkit-scrollbar {
  display: none;
}

.min {
  width: min-content;
}

.panel {
  background-color: var(--color-background);
  border-radius: 1rem;
  padding: 0.5rem;
}

.encounter {
  display: flex;
}

.encounter > div,
.encounter > button {
  margin-right: 0.5rem;
}

.time {
  appearance: inherit;
  font-style: inherit;
  font-variant-ligatures: inherit;
  font-variant-caps: inherit;
  font-variant-numeric: inherit;
  font-variant-east-asian: inherit;
  font-weight: inherit;
  font-stretch: inherit;
  font-size: inherit;
  font-family: inherit;
  text-rendering: inherit;
  color: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  line-height: inherit;
  text-transform: inherit;
  text-indent: 0px;
  text-shadow: inherit;
  display: block;
  text-align: center;
  align-items: inherit;
  cursor: inherit;
  box-sizing: inherit;
  background-color: inherit;
  margin: inherit;
  padding: inherit;
  border-width: 0;
  border-style: inherit;
  border-color: inherit;
  border-image: inherit;
  position: relative;
  width: 75px;
}

.time:hover {
  outline: white solid 1px;
}
.time:active {
  color: var(--color-line-primary);
  background-color: var(--color-line-secondary);
}

.time >span {
  position: absolute;
  font-size: 1.6rem;
  left: 0;
  top: -2px;
}

.dpshps {
  min-width: 3rem;
}

.flex {
  display: flex;
  white-space: nowrap;
}

.active {
  min-width: 5rem;
  margin-right: 1rem;
}

.dpstable {
  display: block;
}

.hpstable {
  display: block;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

tr {
  border-bottom: solid 1px;
  border-color: var(--color-line-secondary);
}

tr:last-child {
  border-color: var(--color-line-primary);
}

th {
  font-size: 0.6rem;
  border-bottom: solid 1px;
  border-color: var(--color-line-primary);
}

.job {
  width: 40px;
}

td.job {
  display: flex;
  justify-content: center;
}

.job-icon {
  width: 17px;
  height: 17px;
}

.job-icon > img {
  width: 17px;
  height: 17px;
}

.dps {
  width: 50px;
}

.crit, .direct, .directcrit, .death {
  width: 50px;
}

td.job, td.name, td.death {
  text-align: center;
}

td.dps, td.crit, td.direct, td.directcrit {
  text-align: right;
}